{% extends 'cos/base.html' %}

{% block content %}

    <div class = "container">
        <br>
        <br>
        <h3> Avize medicale: </h3>
        <br>
        <br>
        <table class = "table">
                <thead>
                    <tr>
                        <th> Nume </th>
                        <th> Pret </th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                        <tr>
                            <td>{{ product.name }}</td>
                            <td>{{ product.price }} RON </td>
                            <td>
                                
                                <a class="btn btn-outline-success" style="font-size:30px" href="{% url 'cart_add' product.id %}"> <b>+</b> </a>
                            </td>
                        </tr>
                    {% endfor %}
                    
                </tbody>
        </table>
    </div>

{% endblock %}