{% load static %}
{% load cart_tag %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
    </head>

    <body>
        <!-- MENIU -->

        <nav class="navbar navbar-expand-md navbar-light fixed-top bg-white ">
            <a class="navbar-brand" href="{% url 'Home' %}">ECOMED</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="scris-mare nav-link" style = "color: #1fab89; font-size: 20px;" href="{% url 'analize' %}">Analize</a>
                </li>
                <li class="nav-item">
                    <a class="scris-mare nav-link" style = "color: #1fab89; font-size: 20px;" href="{% url 'consultatii' %}">Consultatii si echografii</a>
                </li>
                <li class="nav-item">
                    <a class="scris-mare nav-link" style = "color: #1fab89; font-size: 20px;" href="{% url 'avize' %}">Avize medicale</a>
                </li>
                <li class="nav-item">
                    <a class="scris-mare nav-link" style = "color: #1fab89; font-size: 20px;" href="{% url 'cart_detail' %}">Cos: {{request.session.cart|length}}</a>
                </li>
                </ul>
            </div>
        
        </nav>

        <div style ="margin-top:60px">
        <center><img src = "{% static 'logo/logoecomed.png' %}" style = "width:250px"></center>
        <div style ="margin-top:50px">
        <div class = "container">
                
                <form class="form-inline mt-2 mt-md-0" action="{% url 'search'%}">
                        <h3> Cautare investigatii: </h3>
                        <input class="form-control mr-sm-2" name = "search" type="text" placeholder="Cautare" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Cautare</button>
                </form>
        </div>
        <div style ="margin-top:20px">
        <div class = "container">
            <center>
                {% if request.session.cart|length %}
                    <h4>Cos: {{request.session.cart|length}}</h4>
                    <a class="btn btn-success" href = "{% url 'cart_detail' %}"> Vezi cos </a>
                    <a class = "btn btn-warning" href = "{% url 'formEmail' %}"> Solicita programare </a>
                {% endif %}
            </center>
        </div>
        <div style ="margin-top:10px"></div>
        {% block content %}
        {% endblock %}

    <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.3/es6-shim.min.js"></script>
    <script src="/vendors/formvalidation/dist/js/FormValidation.min.js"></script>
    <script src="/vendors/formvalidation/dist/js/plugins/Tachyons.min.js"></script>

    <script>
    document.addEventListener('DOMContentLoaded', function(e) {
        FormValidation.formValidation(
            document.getElementById('demoForm'),
            {
                plugins: {
                    declarative: new FormValidation.plugins.Declarative({
                        html5Input: true,
                    }),
                    trigger: new FormValidation.plugins.Trigger(),
                    tachyons: new FormValidation.plugins.Tachyons(),
                    submitButton: new FormValidation.plugins.SubmitButton(),
                    icon: new FormValidation.plugins.Icon({
                        valid: 'fa fa-check',
                        invalid: 'fa fa-times',
                        validating: 'fa fa-refresh',
                    }),
                },
            }
        );
    });
    </script>  -->  
    </body>
</html>