{% extends 'cos/base.html' %}

{% block content %}

    {% load cart_tag %}




<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <br>
	<table id="cart" class="table table-hover table-condensed">
    				<thead>
						<tr>
							<th style="width:50%">Investigatie</th>
							<th style="width:10%">Pret</th>
							<th style="width:10%"></th>
						</tr>
					</thead>
					<tbody>
                        {% for key,value in request.session.cart.items %}

						<tr>
							<td data-th="Product">
								<div class="row">
									<div class="col-sm-10">
										<h4 class="nomargin">{{value.name}}</h4>
									</div>
								</div>
							</td>
							<td data-th="Price"> {{value.price}} RON </td>

							<td class="actions" data-th="">
								<a href="{% url 'item_clear' value.product_id %}" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></a>								
							</td>
						</tr>
                        {% endfor %}
					</tbody>
					<tfoot>
						<tr>
							<td><a href="{% url 'Home' %}" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continua calculul</a></td>
							<td colspan="2" class="hidden-xs"></td>
							<td class="hidden-xs text-center"><strong>Total {{total}} RON</strong></td>
							<td><a href="{% url 'cart_clear' %}" class="btn btn-success btn-block"> Curata cosul <i class="fa fa-angle-right"></i></a></td>
						</tr>
					</tfoot>
				</table>
</div>

{% endblock %}