{% extends 'noutati/base.html' %}

{% load static %}

{% block content %}

    <div class = "container">
    <h1> Noutati </h1>
    <div style = "margin-top: 30px"> </div>
    <!-- incercare-->
    <div class="row mb-2">
    {% for articol in articole %}
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 position-static">
          <strong class="d-inline-block mb-2 text-primary">Noutati</strong>
          <h3 class="mb-0">{{ articol.title }}</h3>
          <div class="mb-1 text-muted">{{ articol.date }}</div>
          <center><img src = "{{ articol.image.url}}" style = "width:300px"></center>
          <p class="card-text mb-auto">{{ articol.description }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
{% endblock %}